@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NimbusRoman';
  src: url('/public/fonts/nimbus-roman-no9-l/Nimbus-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
