@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'NimbusRomNo9L-Reg';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/NimbusRomNo9L-Reg.otf) format('otf');
  }
}